# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

.env
.idea

# vim temporary files
.*.swp
.benchmarks/.venv/pyvenv.cfg
.benchmarks/.venv/Scripts/activate
.benchmarks/.venv/Scripts/activate.bat
.benchmarks/.venv/Scripts/Activate.ps1
.benchmarks/.venv/Scripts/black.exe
.benchmarks/.venv/Scripts/blackd.exe
.benchmarks/.venv/Scripts/cpuinfo.exe
.benchmarks/.venv/Scripts/deactivate.bat
.benchmarks/.venv/Scripts/dmypy.exe
.benchmarks/.venv/Scripts/docutils.exe
.benchmarks/.venv/Scripts/flake8.exe
.benchmarks/.venv/Scripts/keyring.exe
.benchmarks/.venv/Scripts/markdown-it.exe
.benchmarks/.venv/Scripts/mypy.exe
.benchmarks/.venv/Scripts/mypyc.exe
.benchmarks/.venv/Scripts/normalizer.exe
.benchmarks/.venv/Scripts/pip.exe
.benchmarks/.venv/Scripts/pip3.11.exe
.benchmarks/.venv/Scripts/pip3.exe
.benchmarks/.venv/Scripts/pkginfo.exe
.benchmarks/.venv/Scripts/py.test-benchmark.exe
.benchmarks/.venv/Scripts/py.test.exe
.benchmarks/.venv/Scripts/pycodestyle.exe
.benchmarks/.venv/Scripts/pyflakes.exe
.benchmarks/.venv/Scripts/pygmentize.exe
.benchmarks/.venv/Scripts/pytest-benchmark.exe
.benchmarks/.venv/Scripts/pytest.exe
.benchmarks/.venv/Scripts/python.exe
.benchmarks/.venv/Scripts/pythonw.exe
.benchmarks/.venv/Scripts/rst2html.py
.benchmarks/.venv/Scripts/rst2html4.py
.benchmarks/.venv/Scripts/rst2html5.py
.benchmarks/.venv/Scripts/rst2latex.py
.benchmarks/.venv/Scripts/rst2man.py
.benchmarks/.venv/Scripts/rst2odt_prepstyles.py
.benchmarks/.venv/Scripts/rst2odt.py
.benchmarks/.venv/Scripts/rst2pseudoxml.py
.benchmarks/.venv/Scripts/rst2s5.py
.benchmarks/.venv/Scripts/rst2xetex.py
.benchmarks/.venv/Scripts/rst2xml.py
.benchmarks/.venv/Scripts/rstpep2html.py
.benchmarks/.venv/Scripts/snakeviz.exe
.benchmarks/.venv/Scripts/stubgen.exe
.benchmarks/.venv/Scripts/stubtest.exe
.benchmarks/.venv/Scripts/twine.exe
.benchmarks/.venv/Scripts/wheel.exe
.benchmarks/.vscode/settings.json
.benchmarks/.editorconfig
.benchmarks/tox.ini
.benchmarks/snapcraft.yaml
.benchmarks/setup.cfg
profile_results.csv
.gitignore
profile_results.txt
.venv/pyvenv.cfg
.venv/Scripts/activate
.venv/Scripts/activate.bat
.venv/Scripts/Activate.ps1
.venv/Scripts/black.exe
.venv/Scripts/blackd.exe
.venv/Scripts/cpuinfo.exe
.venv/Scripts/deactivate.bat
.venv/Scripts/dmypy.exe
.venv/Scripts/docutils.exe
.venv/Scripts/flake8.exe
.venv/Scripts/keyring.exe
.venv/Scripts/markdown-it.exe
.venv/Scripts/mypy.exe
.venv/Scripts/mypyc.exe
.venv/Scripts/normalizer.exe
.venv/Scripts/pip.exe
.venv/Scripts/pip3.11.exe
.venv/Scripts/pip3.exe
.venv/Scripts/pkginfo.exe
.venv/Scripts/py.test-benchmark.exe
.venv/Scripts/py.test.exe
.venv/Scripts/pycodestyle.exe
.venv/Scripts/pyflakes.exe
.venv/Scripts/pygmentize.exe
.venv/Scripts/pytest-benchmark.exe
.venv/Scripts/pytest.exe
.venv/Scripts/python.exe
.venv/Scripts/pythonw.exe
.venv/Scripts/rst2html.py
.venv/Scripts/rst2html4.py
.venv/Scripts/rst2html5.py
.venv/Scripts/rst2latex.py
.venv/Scripts/rst2man.py
.venv/Scripts/rst2odt_prepstyles.py
.venv/Scripts/rst2odt.py
.venv/Scripts/rst2pseudoxml.py
.venv/Scripts/rst2s5.py
.venv/Scripts/rst2xetex.py
.venv/Scripts/rst2xml.py
.venv/Scripts/rstpep2html.py
.venv/Scripts/snakeviz.exe
.venv/Scripts/stubgen.exe
.venv/Scripts/stubtest.exe
.venv/Scripts/twine.exe
.venv/Scripts/wheel.exe
.vscode/settings.json
tests.prof
